<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        display: flex;
      }

      .div1, .div2 {
        width: 50%;
        padding: 10px;
        box-sizing: border-box
      }

      button#fav{
        background-color: rgb(139, 196, 139);
      }
      button#unfav{
        background-color: rgb(195, 120, 120);
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div>
        <b>Epic Characters</b>
      </div>
      <div class="div1">
        <ul>
          <li v-for="epicInfo in epicDetails">
            {{ epicInfo.epic }}
            <ul v-for="character in epicInfo.characters">
              <li>
                {{ character }} 
                <button id="fav" v-if="!favorites.includes(character)" @click="addToFavorites" :value="character" >Add to Favorites</button>
                <button id="unfav" v-else @click="removeFromFavorites" :value="character">
                  Remove from Favorites
                </button>
              </li>
            </ul>
            
          <br/>
          </li>
        </ul>
      </div>
      <div class="div2">
        <p><b>Favorite Characters</b></p>
        <div>
          <ul v-if="favorites.length > 0">
            <li v-for="favChar in favorites">
              {{favChar}}
            </li>
          </ul>
          <p v-else>
            No Favorite Characters
          </p>
        </div>
      </div>
      
    </div>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue

    createApp({
      data() {
        return ({ 
          message: "Epic Characters",
          epicDetails: [
          {
            epic: "Mahabharat",
            characters: ["Krishna", "Arjun", "Karna"]
          },
          {
            epic: "Ramayana",
            characters: ["Ram", "Hanuman", "Jatayu"]
          },
          {
            epic: "Greek Mythology",
            characters: ["Thor", "Loki", "Zeus"]
          },
          {
            epic: "Vishnu Avatars",
            characters: ["Parashuram", "Baraha", "Kalki"]
          },
          {
            epic: "Mahavidya",
            characters: ["Tripurasundari", "Kali", "Chhinamasta"]
          }
          ],
          favorites: [] 
        })
      },
      computed: {
        buttonText(event){
          
        }
      },
      methods: {
        addToFavorites(event){
          selectedCharacter = event.target.value
          
          this.favorites.push(selectedCharacter)
          //console.log(this.favorites)
        },
        removeFromFavorites(event){
          selectedCharacter = event.target.value
          index = this.favorites.indexOf(selectedCharacter)
          this.favorites.splice(index, 1)
        }
      }
    }).mount("#app")
  </script>
</html>
